@font-face {
  font-family: 'edicons';
  src:  url('fonts/edicons.eot?ix6lmg');
  src:  url('fonts/edicons.eot?ix6lmg#iefix') format('embedded-opentype'),
    url('fonts/edicons.ttf?ix6lmg') format('truetype'),
    url('fonts/edicons.woff?ix6lmg') format('woff'),
    url('fonts/edicons.svg?ix6lmg#edicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="edicons-"], [class*=" edicons-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'edicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.edicons-bullet-black:before {
  content: "\e900";
}
.edicons-bullet-white:before {
  content: "\e901";
}
.edicons-classroom:before {
  content: "\e902";
}
.edicons-cycle-1:before {
  content: "\e903";
}
.edicons-cycle-2:before {
  content: "\e904";
}
.edicons-cycle-3:before {
  content: "\e905";
}
.edicons-discipline-citizenship:before {
  content: "\e906";
}
.edicons-discipline-geography:before {
  content: "\e907";
}
.edicons-discipline-healthwellbeing:before {
  content: "\e908";
}
.edicons-discipline-history:before {
  content: "\e909";
}
.edicons-discipline-manualactivities:before {
  content: "\e90a";
}
.edicons-discipline-mathematics:before {
  content: "\e90b";
}
.edicons-discipline-mitic:before {
  content: "\e90c";
}
.edicons-discipline-music:before {
  content: "\e90d";
}
.edicons-discipline-nutrition:before {
  content: "\e90e";
}
.edicons-discipline-sciences:before {
  content: "\e90f";
}
.edicons-discipline-sport:before {
  content: "\e910";
}
.edicons-discipline-visualarts:before {
  content: "\e911";
}
.edicons-learning:before {
  content: "\e912";
}
.edicons-learningoptional:before {
  content: "\e913";
}
.edicons-sense-hearing:before {
  content: "\e914";
}
.edicons-sense-sight:before {
  content: "\e915";
}
.edicons-sense-smell:before {
  content: "\e916";
}
.edicons-sense-taste:before {
  content: "\e917";
}
.edicons-sense-touch:before {
  content: "\e918";
}
.edicons-shape-airplane:before {
  content: "\e919";
}
.edicons-shape-circle:before {
  content: "\e91a";
}
.edicons-shape-cloud:before {
  content: "\e91b";
}
.edicons-shape-clubs:before {
  content: "\e91c";
}
.edicons-shape-cross:before {
  content: "\e91d";
}
.edicons-shape-diamonds:before {
  content: "\e91e";
}
.edicons-shape-flag:before {
  content: "\e91f";
}
.edicons-shape-heart:before {
  content: "\e920";
}
.edicons-shape-mug:before {
  content: "\e921";
}
.edicons-shape-pentagone:before {
  content: "\e922";
}
.edicons-shape-power:before {
  content: "\e923";
}
.edicons-shape-power-cord:before {
  content: "\e924";
}
.edicons-shape-rocket:before {
  content: "\e925";
}
.edicons-shape-spades:before {
  content: "\e926";
}
.edicons-shape-spiral:before {
  content: "\e927";
}
.edicons-shape-square:before {
  content: "\e928";
}
.edicons-shape-star:before {
  content: "\e929";
}
.edicons-shape-triangle:before {
  content: "\e92a";
}
.edicons-shape-truck:before {
  content: "\e92b";
}
.edicons-smile-happy:before {
  content: "\e92c";
}
.edicons-smile-happy-white:before {
  content: "\e92d";
}
.edicons-smile-neutral:before {
  content: "\e92e";
}
.edicons-smile-neutral-white:before {
  content: "\e92f";
}
.edicons-smile-sad:before {
  content: "\e930";
}
.edicons-smile-sad-white:before {
  content: "\e931";
}
.edicons-studentf:before {
  content: "\e932";
}
.edicons-studentm:before {
  content: "\e933";
}
.edicons-teacherf:before {
  content: "\e934";
}
.edicons-teacherm:before {
  content: "\e935";
}
.edicons-tip:before {
  content: "\e936";
}
.edicons-tool-eraser:before {
  content: "\e937";
}
.edicons-tool-pen:before {
  content: "\e938";
}
.edicons-tool-pencil:before {
  content: "\e939";
}
.edicons-tool-stab:before {
  content: "\e93a";
}
.edicons-visualidentity-api:before {
  content: "\e95f";
}
.edicons-visualidentity-archiclass:before {
  content: "\e957";
}
.edicons-visualidentity-bpm:before {
  content: "\e958";
}
.edicons-visualidentity-camac:before {
  content: "\e959";
}
.edicons-visualidentity-ch:before {
  content: "\e93b";
}
.edicons-visualidentity-choix11:before {
  content: "\e93c";
}
.edicons-visualidentity-common:before {
  content: "\e93d";
}
.edicons-visualidentity-datatransmock:before {
  content: "\e94f";
}
.edicons-visualidentity-diocam:before {
  content: "\e950";
}
.edicons-visualidentity-e2sso:before {
  content: "\e93e";
}
.edicons-visualidentity-easyrf:before {
  content: "\e951";
}
.edicons-visualidentity-ec:before {
  content: "\e93f";
}
.edicons-visualidentity-folio:before {
  content: "\e940";
}
.edicons-visualidentity-glados:before {
  content: "\e95a";
}
.edicons-visualidentity-groupons:before {
  content: "\e952";
}
.edicons-visualidentity-gu:before {
  content: "\e941";
}
.edicons-visualidentity-gusto:before {
  content: "\e953";
}
.edicons-visualidentity-icar:before {
  content: "\e942";
}
.edicons-visualidentity-iclasse:before {
  content: "\e943";
}
.edicons-visualidentity-ksiop:before {
  content: "\e954";
}
.edicons-visualidentity-load:before {
  content: "\e944";
}
.edicons-visualidentity-ne:before {
  content: "\e945";
}
.edicons-visualidentity-neapp:before {
  content: "\e946";
}
.edicons-visualidentity-neapp2:before {
  content: "\e95b";
}
.edicons-visualidentity-nemo:before {
  content: "\e960";
}
.edicons-visualidentity-nuget:before {
  content: "\e95c";
}
.edicons-visualidentity-per:before {
  content: "\e947";
}
.edicons-visualidentity-perception:before {
  content: "\e948";
}
.edicons-visualidentity-phoenix:before {
  content: "\e949";
}
.edicons-visualidentity-rpn:before {
  content: "\e94a";
}
.edicons-visualidentity-rpnapp:before {
  content: "\e94b";
}
.edicons-visualidentity-satax:before {
  content: "\e94c";
}
.edicons-visualidentity-sien:before {
  content: "\e94d";
}
.edicons-visualidentity-swisspol:before {
  content: "\e95d";
}
.edicons-visualidentity-swisspolindex:before {
  content: "\e95e";
}
.edicons-visualidentity-symic:before {
  content: "\e955";
}
.edicons-visualidentity-tcs:before {
  content: "\e94e";
}
.edicons-visualidentity-teb:before {
  content: "\e956";
}

