@font-face {
	font-family: 'edicons';
	src:url('fonts/edicons.eot?ll4ms3');
	src:url('fonts/edicons.eot?ll4ms3#iefix') format('embedded-opentype'),
		url('fonts/edicons.ttf?ll4ms3') format('truetype'),
		url('fonts/edicons.woff?ll4ms3') format('woff'),
		url('fonts/edicons.svg?ll4ms3#edicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="edicons-"], [class*=" edicons-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'edicons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.edicons-sense-hearing:before {
	content: "\e900";
}
.edicons-sense-sight .path1:before {
	content: "\e901";
	color: rgb(255, 255, 255);
}
.edicons-sense-sight .path2:before {
	content: "\e902";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}
.edicons-sense-smell:before {
	content: "\e903";
}
.edicons-sense-taste:before {
	content: "\e904";
}
.edicons-sense-touch:before {
	content: "\e905";
}
.edicons-smile-happy:before {
	content: "\e906";
}
.edicons-smile-neutral:before {
	content: "\e907";
}
.edicons-smile-sad:before {
	content: "\e908";
}
.edicons-tip:before {
	content: "\e909";
}
.edicons-classroom:before {
	content: "\e601";
}
.edicons-cycle-1:before {
	content: "\e602";
}
.edicons-cycle-2:before {
	content: "\e603";
}
.edicons-cycle-3:before {
	content: "\e604";
}
.edicons-discipline-citizenship:before {
	content: "\e605";
}
.edicons-discipline-geography:before {
	content: "\e606";
}
.edicons-discipline-healthwellbeing:before {
	content: "\e607";
}
.edicons-discipline-history:before {
	content: "\e608";
}
.edicons-discipline-manualactivities:before {
	content: "\e609";
}
.edicons-discipline-mathematics:before {
	content: "\e60a";
}
.edicons-discipline-mitic:before {
	content: "\e60b";
}
.edicons-discipline-music:before {
	content: "\e60c";
}
.edicons-discipline-nutrition:before {
	content: "\e60d";
}
.edicons-discipline-sciences:before {
	content: "\e60e";
}
.edicons-discipline-sport:before {
	content: "\e60f";
}
.edicons-discipline-visualarts:before {
	content: "\e610";
}
.edicons-learning:before {
	content: "\e611";
}
.edicons-learningoptional:before {
	content: "\e612";
}
.edicons-studentf:before {
	content: "\e613";
}
.edicons-studentm:before {
	content: "\e614";
}
.edicons-teacherf:before {
	content: "\e615";
}
.edicons-teacherm:before {
	content: "\e616";
}
.edicons-tool-eraser:before {
	content: "\e61d";
}
.edicons-tool-pen:before {
	content: "\e61e";
}
.edicons-tool-pencil:before {
	content: "\e61f";
}
.edicons-tool-stab:before {
	content: "\e620";
}
.edicons-visualidentity-ch:before {
	content: "\e617";
}
.edicons-visualidentity-ec:before {
	content: "\e600";
}
.edicons-visualidentity-er:before {
	content: "\e622";
}
.edicons-visualidentity-icar:before {
	content: "\e623";
}
.edicons-visualidentity-iclasse:before {
	content: "\e626";
}
.edicons-visualidentity-ne:before {
	content: "\e618";
}
.edicons-visualidentity-neapp:before {
	content: "\e619";
}
.edicons-visualidentity-per:before {
	content: "\e61a";
}
.edicons-visualidentity-phoenix:before {
	content: "\e625";
}
.edicons-visualidentity-rpn:before {
	content: "\e61b";
}
.edicons-visualidentity-rpnapp:before {
	content: "\e61c";
}
.edicons-visualidentity-sien:before {
	content: "\e621";
}
.edicons-visualidentity-tcs:before {
	content: "\e624";
}

